.loading {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  font-size: 18px;
  user-select: none;
  .loading-container {
    background-color: black;
    min-width: 1024px;
    min-height: 768px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .loading-container > div {
    display: block;
  }
}
