.terminal {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  background-color: black;
  font-family: 'VT323', monospace;
}
.input-div {
  width: 100%;
  display: grid;
  position: fixed;
  top: 40px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
  .terminal-input {
    right: 3px;
    display: inline;
    background-color: black;
    color: white;
    grid-row: 1;
    grid-column: 2;
    width: 70%;
    user-select: none;
    cursor: default;
    font-family: 'VT323', monospace;
    font-size: 20px;
  }
  .terminal-input-name {
    width: 29%;
    grid-row: 1;
    grid-column: 1;
    display: inline;
    margin-right: 4px;
    color: lightgreen;
    font-family: 'VT323', monospace;
    font-size: 20px;
  }
}
.cursor {
  position: relative;
}
.cursor i {
  position: absolute;
  width: 1px;
  height: 80%;
  background-color: gray;
  left: 5px;
  top: 10%;
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

.cursor input:focus + i {
  display: none;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

input {
  caret-color: lightgreen;
}

.terminal-output {
  margin-top: 22px;
  display: flex;
  flex-direction: column-reverse;
}

b {
  color: blue;
}
