$black: #000;
$green: green;
$error: #cc0000;
$lightshades: #f6f8f7;
$lightaccent: #b1b7b5;
$mainbrand: #cf7d71;
$darkaccent: #b49b86;
$darkshades: #61605c;
$nav-light: #f6f8f7;
$nav-dark: #61605c;
body {
  margin: 0;

  height: 100%;
  overflow: hidden;
  color: $lightshades;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $darkshades;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
