@import '../../index';

.logout-icon {
  filter: invert(100%);
}

.logout-button {
  width: 32px;
  border: none;
  background-color: $nav-dark;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  margin: 0 auto;
}

.logout-button:hover {
  filter: invert(100%);
}
.menu {
  width: 240px;
  height: 200px;
  user-select: none;
  background-color: $nav-light;
  font-family: 'VT323', monospace;
}
