@import '../../index';
.nav {
  position: absolute;
  width: 100vw;

  height: 30px;
  top: 0;
  background-color: $nav-light;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.8);
}

.clock {
  color: black;
  border: none;
  font-weight: bolder;
  user-select: none;
  position: fixed;
  right: 4px;
  top: 4px;
}
