@import '../../index';
#nav-menu {
  display: flex; // position: fixed;
  background-color: $nav-light;
  width: 35%;
  max-width: 300px;
  height: 30px;

  font-size: 20px;
  font-weight: bolder;

  .nav-menu-item {
    margin: auto;
    padding-top: 2px;
    height: 30px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: $lightshades;
  }

  .nav-menu-item:hover {
    color: $darkshades;
    background-color: $lightshades;
  }
}

.active {
  background-color: $lightaccent;
}

.os-logo {
  width: 20px;
  position: fixed;
  margin: 2px;
  left: 4px;
  top: 4px;
}

.menu-button {
  background-color: $nav-light;
  font-family: 'VT323', monospace;
  padding-left: 26px;
  font-size: 28px;
}
