@import '../../index';
#nav-menu {
  display: flex; // position: fixed;
  background-color: $darkshades;
  width: 35%;
  max-width: 300px;
  height: 56px;
  font-size: 20px;
  font-weight: bolder;

  .nav-menu-item {
    margin: auto;
    padding-top: 14px;
    height: 42px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: $lightshades;
  }

  .nav-menu-item:hover {
    color: $darkshades;
    background-color: $lightshades;
  }
}

.active {
  background-color: $lightaccent;
}
