.user {
  position: fixed;
  right: 0;
  top: 0;
  user-select: none;
  .user-h3 {
    display: inline;
    margin: 8px;
    font-size: 20px;
  }
  #user-logout {
    display: inline;
    margin: 8px;
    width: 120px;
  }

  #user-login {
    display: inline;
    margin: 8px;
    width: 120px;
  }
}
