@import '../../index';

.user {
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
  color: $lightshades;

  .user-h3 {
    display: inline;
    margin: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  #user-logout {
    display: inline;
    margin: 8px;
    color: $lightshades;
    width: 120px;
  }

  #user-login {
    display: inline;
    margin: 8px;
    width: 120px;
  }
}
